# Orders Prior Data Cleaning

## Contents

### 01 Importing Libraries

### 02 Importing Data

### 03 Checking Data

### 04 Wrangling Data

#### 01 Data Types

### 05 Checking Data Consistency

#### 01 Missing Values

#### 02 Duplicate Values

### 06 Exporting Dataframe

## 01 Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [4]:
#creating path
path = r'C:\\Users\\samac\\Instacart Basket Analysis'

In [6]:
#importing orders_products_prior.csv
ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

## 03 Checking Data

In [8]:
#checking ords_prods_prior shape
ords_prods_prior.shape

(32434489, 4)

In [9]:
#checking ords_prods_prior records
ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## 04 Wrangling Data

### 01 Data Types

In [15]:
#checking data types in df_ords
ords_prods_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [17]:
#changing 'order_id' from int to string
ords_prods_prior['order_id'] = ords_prods_prior['order_id'].astype('str')

In [18]:
#changing 'product_id' from int to string
ords_prods_prior['product_id'] = ords_prods_prior['product_id'].astype('str')

In [21]:
#rechecking data types in df_ords
ords_prods_prior.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

## 05 Data Consistency Checks

### 01 Missing Values

In [25]:
#searching for missing values in ords_prods_prior
ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

There are no missing values in ords_prods_prior

### 02 Duplicate Values

In [28]:
#searching for duplicate values in ords_prods_prior
ords_prods_prior_dups = ords_prods_prior[ords_prods_prior.duplicated()]

ords_prods_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No Duplicates Found

## 06 Exporting Dataframe

In [32]:
#exporting ords_prods_prior as final_orders_wrangled.pkl
ords_prods_prior.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_orders_products_prior_wrangled.pkl'))