# Orders Data Cleaning

## Contents

### 01 Importing Libraries

### 02 Importing Data

### 03 Checking Data

### 04 Wrangling Data

#### 01 Columns

#### 02 Data Types

### 05 Checking Data Consistency

#### 01 Missing Values

#### 02 Duplicate Values

### 06 Exporting Dataframe

## 01 Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [3]:
#creating path
path = r'C:\\Users\\samac\\Instacart Basket Analysis'

In [5]:
#importing customers.csv
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

## 03 Checking Data

In [8]:
#getting shape of df_customers
df_customers.shape

(206209, 10)

In [10]:
#describing df_customers
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [12]:
#checking df_customers
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## 04 Wrangling Data

### 01 Columns

In [16]:
#changing First Name to first_name
df_customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [18]:
#changing Surnam to last_name
df_customers.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [20]:
#changing Gender to gender
df_customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [22]:
#changing STATE to state
df_customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [24]:
#changing Age to age
df_customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [26]:
#checking column names
df_customers.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

### 02 Data Types

In [29]:
#checking data types in df_ords
df_customers.dtypes

user_id          int64
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [31]:
# changing user_id column to string for df_customers
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [33]:
#rechecking data types in df_ords
df_customers.dtypes

user_id         object
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

## 05 Data Consistency Checks

### 01 Missing Values

In [37]:
#searching for missing values in df_customers
df_customers.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

### 02 Duplicate Values

In [42]:
#searching for duplicate values in df_customers
df_customers_dups = df_customers[df_customers.duplicated()]

df_customers_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

No Duplicates Found

## 06 Exporting Dataframe

In [46]:
#exporting df_customers as final_customers_wrangled.pkl
df_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_customers_wrangled.pkl'))