# Column Derivations

## Contents

### 01 Importing Libraries

### 02 Importing Data

### 03 Deriving New Columns

### 04 Exporting Dataframe

## 01 Importing Libraries

In [2]:
#importing libraries

import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [4]:
#creating path
path = r'C:\\Users\\samac\\Instacart Basket Analysis'

In [5]:
#importing final_ords_prods_all
final_ords_prods_all = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final_orders_products_all.pkl'))

In [10]:
final_ords_prods_all.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order',
       'days_since_prior_order_flag', 'add_to_cart_order', 'reordered',
       'first_name', 'last_name', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', '_merge'],
      dtype='object')

In [13]:
#checking for nulls
final_ords_prods_all.isnull().sum()

product_id                           0
product_name                         0
aisle_id                             0
department_id                        0
prices                               0
order_id                             0
user_id                              0
order_number                         0
orders_day_of_week                   0
order_hour_of_day                    0
days_since_prior_order         2076096
days_since_prior_order_flag          0
add_to_cart_order                    0
reordered                            0
first_name                     1775118
last_name                            0
gender                               0
state                                0
age                                  0
date_joined                          0
n_dependants                         0
fam_status                           0
income                               0
_merge                               0
dtype: int64

## 03 Deriving New Columns

The following column derivations have been created at the request of the client

### 01 Price Range

The price_range_loc column will show what price range each product falls into. Products priced 5 dollars and lower are "Low-range products". Products priced in between 5 and 15 dollars are "Mid-range products". Products priced over 15 dollars are "High-range" products.

In [30]:
#creating if statements with the loc() function
final_ords_prods_all.loc[final_ords_prods_all['prices'] > 15, 'price_range_loc'] = 'High-range product'
final_ords_prods_all.loc[(final_ords_prods_all['prices'] <= 15) & (final_ords_prods_all['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
final_ords_prods_all.loc[final_ords_prods_all['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [32]:
#checking value counts
final_ords_prods_all['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

### 02 Busiest Day

The busiest_day column will label the day that has the most orders as the "Busiest day', the day with the fewest orders as the 'Least busy", and all other days as 'Regularly busy'

In [50]:
#checking value count of orders_day_of_week
final_ords_prods_all['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [52]:
#creating busy day list
result = []

for value in final_ords_prods_all["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [54]:
#adding busiest_day column
final_ords_prods_all['busiest_day'] = result

In [56]:
#checking value count of busiest day
final_ords_prods_all['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### 03 Busiest Days

The busiest_days column will label the 2 days that have the most orders as the 'Busiest days', the 2 days with the fewest orders as the 'Least busiest days", and all other days as 'Regularly busy'

In [58]:
#creating busiest_days list
busiest_results = []

for value in final_ords_prods_all["orders_day_of_week"]:
  if value == 0 or value == 1:
    busiest_results.append("Busiest days")
  elif value == 4 or value == 3:
    busiest_results.append("Least busiest days")
  else:
    busiest_results.append("Regularly busy")

In [60]:
#adding busiest_day column
final_ords_prods_all['busiest_days'] = busiest_results

In [62]:
#checking value count of busiest day
final_ords_prods_all['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy        12916111
Busiest days          11864412
Least busiest days     7624336
Name: count, dtype: int64

### 04 Busiest Period of Day

The busiest_period_of_day will label the 3 hours that have the most orders as 'Most orders', the 3 hours with the fewest orders as 'Fewest orders', and all other hours as 'Average orders'

In [64]:
#checking value count of order_hour_of_day
final_ords_prods_all['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [66]:
#dividing each hour into one of 3 categories
#The top 3 most frequent hours will be labeled 'Most orders', the bottom 3 'Fewest orders', and the remaining 'Average orders'

hours_results = []

for value in final_ords_prods_all['order_hour_of_day']:
    if value in [10, 11, 14]:
        hours_results.append('Most orders')
    elif value in [3, 4, 2]:
        hours_results.append('Fewest orders')
    else:
        hours_results.append('Average orders')

In [68]:
#adding busiest_period_of_day column
final_ords_prods_all['busiest_period_of_day'] = hours_results

In [70]:
#checking value count of busiest_period_of_day
final_ords_prods_all['busiest_period_of_day'].value_counts()

busiest_period_of_day
Average orders    24043925
Most orders        8187036
Fewest orders       173898
Name: count, dtype: int64

### 05 Max Order

The max_order column will return each user's max order number

In [74]:
#creating max order column
final_ords_prods_all['max_order'] = final_ords_prods_all.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\samac\AppData\Local\Temp\ipykernel_23760\1504414775.py:2: FutureWarning: The provided callable <function max at 0x0000024EACCAC7C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  final_ords_prods_all['max_order'] = final_ords_prods_all.groupby(['user_id'])['order_number'].transform(np.max)

In [75]:
#checking to see if max row is a new column
final_ords_prods_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,date_joined,n_dependants,fam_status,income,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,8/1/2019,1,married,49620,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,8/1/2019,1,married,49620,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,6/16/2018,2,married,158302,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,2/9/2020,3,married,31308,both,Mid-range product,Regularly busy,Least busiest days,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,2/9/2020,3,married,31308,both,Mid-range product,Least busy,Least busiest days,Average orders,3

### 06 Loyalty Flag

The loyalty_flag column divides the max_order column into three categories. If the value is greater than 40, the user is labeled a 'Loyal customer'. If the value is lower than or equal to 40 and greater than 10, the user is labeled a 'Regular customer'. If the value is lower than 10, the user is labeled a 'New customer'

In [80]:
#creating loyalty column 
final_ords_prods_all.loc[final_ords_prods_all['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
final_ords_prods_all.loc[(final_ords_prods_all['max_order'] <= 40) & (final_ords_prods_all['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
final_ords_prods_all.loc[final_ords_prods_all['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [84]:
#checking value counts
final_ords_prods_all['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### 07 Average Price

The avg_price column will return the average price of each user's total orders

In [86]:
#creating avg_price column
final_ords_prods_all['avg_price'] = final_ords_prods_all.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\samac\AppData\Local\Temp\ipykernel_23760\3768075899.py:2: FutureWarning: The provided callable <function mean at 0x0000024EACCAD1C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  final_ords_prods_all['avg_price'] = final_ords_prods_all.groupby(['user_id'])['prices'].transform(np.mean)

In [88]:
#checking to see if avg_price is a new column
final_ords_prods_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,fam_status,income,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,married,49620,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,married,49620,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,married,158302,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,married,31308,both,Mid-range product,Regularly busy,Least busiest days,Average orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,married,31308,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer,4.972414

### 08 Spending Flag

The spending_flag column divides the avg_price column into two categories. If the value is greater than or equal to 10, the user is labeled a 'High spender'. If the value is lower than 10, the user is labeled a 'Low spender'

In [90]:
#creating spending flag for low spenders
final_ords_prods_all.loc[final_ords_prods_all['avg_price'] < 10, 'spending_flag'] = 'Low Spender'

In [92]:
#creating spending flag for high spenders
final_ords_prods_all.loc[final_ords_prods_all['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [94]:
#checking value counts of spenders
final_ords_prods_all['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

### 09 Days Since Prior Order Median

The days_since_prior_order_median flag will the median days_since_prior_order for each user

In [96]:
#creating days_since_prior_order_median column
final_ords_prods_all['days_since_prior_order_median'] = final_ords_prods_all.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\samac\AppData\Local\Temp\ipykernel_23760\1922438762.py:2: FutureWarning: The provided callable <function median at 0x0000024EACE0BE20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  final_ords_prods_all['days_since_prior_order_median'] = final_ords_prods_all.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [98]:
#checking to see if days_since_prior_order_median is a new column
final_ords_prods_all.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,days_since_prior_order_median
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low Spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Least busiest days,Average orders,3,New customer,4.972414,Low Spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Least busiest days,Average orders,3,New customer,4.972414,Low Spender,9.0

### 10 Frequency Flag

The frequency_flag will label divides the median days_since_prior_order_median_column into three categories. If the value is greater than 20, the user is labeled a 'Non-frequest customer'. If the value is lower than or equal to 20 and greater than 10, the user is labeled a 'Regular customer'. If the value is lower than 10, the user is labeled a 'Frequent customer'

In [100]:
#creating Non-Frequent customer frequency_flag
final_ords_prods_all.loc[final_ords_prods_all['days_since_prior_order_median'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [102]:
#creating regular customer frequency_flag
final_ords_prods_all.loc[(final_ords_prods_all['days_since_prior_order_median'] > 10) & (final_ords_prods_all['days_since_prior_order_median'] <= 20), 'frequency_flag'] = 'Regular customer'

In [106]:
#creating frequent customer frequency_flag
final_ords_prods_all.loc[final_ords_prods_all['days_since_prior_order_median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [108]:
#checking value counts of frequency flag
final_ords_prods_all['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

## 04 Exporting Dataframe

In [111]:
final_ords_prods_all.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_orders_products_all_with_column_derivations'))